@import "./_variables.scss";

.block + .block {
  margin-top: $--margin;
}
.inline-block {
  display: inline-block;
  margin-left: $--margin / 4;
  margin-right: $--margin / 4;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.margin-bottom,
.mb {
  margin-bottom: $--margin !important;
}
.margin-top,
.mt {
  margin-top: $--margin !important;
}

.mv-panel .extended {
  margin-left: -$--card-padding !important;
  margin-right: -$--card-padding !important;
}
.mv-panel .extended-top {
  margin-top: -$--card-padding !important;
}
.mv-panel .extended-bottom {
  margin-bottom: -$--card-padding !important;
}
