@import "./_variables.scss";

h1 {
  color: $--color-secondary;
  font: $--font-weight-thin 40px/120% $--font-stack-default;
  margin: ($--margin * 2) 0;
}

h2 {
  color: $--color-text-secondary;
  font: $--font-weight-bold 16px/120% $--font-stack-default;
  margin: $--margin 0;
  text-transform: uppercase;
}

h3 {
  color: $--color-secondary;
  font: normal 16px/120% $--font-stack-default;
  margin: ($--margin * 2) 0;
}

h4 {
  color: $--color-text-primary;
  font: $--font-weight-bold 16px/120% $--font-stack-default;
  margin: $--margin 0;
}

p {
  line-height: 1.5;
}

a {
  color: $--color-primary;
  cursor: pointer;
  font-weight: $--font-weight-bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.text-big {
  font-size: 110%;
}
.text-small {
  font-size: 90%;
}
.text-bold {
  font-weight: $--font-weight-bold;
}
.text-secondary {
  color: $--color-text-secondary;
}
.text-success {
  color: $--color-success;
}
.text-warning {
  color: $--color-warning;
}
.text-danger {
  color: $--color-danger;
}
