@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");

@import "./common.scss";

@import "~element-ui/packages/theme-chalk/src/reset";
@import "~element-ui/packages/theme-chalk/src/index";

body {
  background: $--color-background;
  display: flex;
  font-family: $--font-stack-default;
  font-weight: normal;
  min-height: 100vh;
}

form,
button,
input,
textarea,
select,
table {
  font-family: $--font-stack-default;
}

hr {
  border: 0;
  border-bottom: 1px solid $--card-border-color;
  margin: 30px 0;
}

img {
  height: auto;
  max-width: 100%;
}

.el-radio {
  // Makes the radio buttons as high as the other fields
  line-height: 20px;
  padding: 10px 0;
}

// Sets the style and margins of the labels
.el-form-item__label {
  color: #5b738c;
  line-height: 120%;
  .el-form--inline & {
    line-height: 40px; // To stay aligned with form fields
  }
  .el-form-item.is-required & {
    font-weight: 600;
  }
}
.el-form--label-top .el-form-item__label {
  padding-bottom: 5px;
}
.el-form--inline .el-form-item {
  margin-bottom: 15px;
}
.panel_actions .el-form-item {
  margin-bottom: 0;
}

.el-slider {
  // Adds a tiny space so that the handle is in the box
  margin: 0 10px;
}

@import "./typography.scss";
